[submodule "plugins/ekanban"]
	path = plugins/ekanban
	url = https://github.com/samchen2009/ekanban.git
[submodule "plugins/redmine_backlogs"]
	path = plugins/redmine_backlogs
	url = git://github.com/backlogs/redmine_backlogs.git
[submodule "plugins/redmine_dmsf"]
	path = plugins/redmine_dmsf
	url = https://github.com/danmunn/redmine_dmsf.git
[submodule "plugins/open_flash_chart"]
	path = plugins/open_flash_chart
	url = git://github.com/pullmonkey/open_flash_chart.git
[submodule "plugins/redmine_charts2"]
	path = plugins/redmine_charts2
	url = git://github.com/pharmazone/redmine_charts2
[submodule "plugins/redmine_hours"]
	path = plugins/redmine_hours
	url = https://github.com/digitalnatives/redmine_hours.git
[submodule "plugins/redmine_landing_page"]
	path = plugins/redmine_landing_page
	url = https://github.com/biow0lf/redmine_landing_page.git
[submodule "plugins/redmine_reminder"]
	path = plugins/redmine_reminder
	url = git://github.com/Enkil/Redmine_Reminer.git
[submodule "plugins/redmine_screenshot_paste"]
	path = plugins/redmine_screenshot_paste
	url = https://github.com/undx/redmine_screenshot_paste.git
[submodule "plugins/redmine_timesheet_plugin"]
	path = plugins/redmine_timesheet_plugin
	url = git://github.com/arkhitech/redmine_timesheet_plugin.git
[submodule "plugins/timelog_timer"]
	path = plugins/timelog_timer
	url = https://github.com/behigh/redmine_timelog_timer.git
[submodule "public/themes/gitmike"]
	path = public/themes/gitmike
	url = git://github.com/makotokw/redmine-theme-gitmike.git
