[submodule "plugins/ekanban"]
	path = plugins/ekanban
	url = https://github.com/samchen2009/ekanban.git
[submodule "plugins/redmine_backlogs"]
	path = plugins/redmine_backlogs
	url = git://github.com/backlogs/redmine_backlogs.git
[submodule "plugins/redmine_dmsf"]
	path = plugins/redmine_dmsf
	url = https://github.com/danmunn/redmine_dmsf.git
[submodule "plugins/open_flash_chart"]
	path = plugins/open_flash_chart
	url = git://github.com/pullmonkey/open_flash_chart.git
